* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, rgba(15, 15, 15, 0.871), rgba(72, 1, 127, 0.374)),
  url('assets/abstract.jpg') no-repeat center/cover;
}